<%#
# Variables
- firstVideo
- bookmark?
#%>

<%- include('../includes/top.ejs') %>

<h1>Offline Video Player</h1>

<section class="big-link">
  <a href="/video/<%= firstVideo %>">
    Start with the first video
  </a>
</section>

<% if (bookmark) { %>
  <div>or</div>
  <section class="big-link">
    <a href="/video/<%= bookmark %>">
      Continue from the bookmark
    </a>
  </section>
<% } %>

<%- include('../includes/bottom.ejs') %>
