<%#
# Variables
- pageTitle
- videos
#%>

<%- include('../includes/top.ejs') %>

<h1>Video Streaming App</h1>

<h2>Videos list</h2>

<%- include('../includes/videos-list.ejs') %>

<%- include('../includes/bottom.ejs') %>
