<%#
# Variables
- ?alerts
#%>
<div class="alerts">
  <% if (locals.alerts) { %>
    <% for (const alert of alerts) { %>
      <div class="alert">
        <span class="alert-content"><%= alert %></span>
        <button class="alert-close">&times;</button>
      </div>
    <% } %>
  <% } %>
</div>
