<%#
# Variables
- ?prevVide
- ?nextVide
#%>
<aside class="video-controls">

  <!-- Menu -->
  <button class="full-width btn btn-default" id="menu-open">
    Open menu
  </button>

  <!-- Home -->
  <a href="/" class="full-width btn btn-default">
    Home
  </a>

  <!-- Playback -->
  <div class="inline-buttons">
    <button class="btn btn-default full-width" id="playback-slower">
      -
    </button>
    <button class="btn btn-default full-width" id="playback-reset">
      1.00x
    </button>
    <button class="btn btn-default full-width" id="playback-faster">
      +
    </button>
  </div>

  <!-- Bookmark -->
  <button class="full-width btn btn-default" id="bookmark">
    Bookmark
  </button>

  <!-- Mark as watched -->
  <button class="full-width btn btn-default" id="mark-as-watched">
    Mark&nbsp;as&nbsp;watched
  </button>

  <!-- Download progress -->
  <a href="/progress" class="full-width btn btn-default">
    Export&nbsp;progress
  </a>

  <div class="inline-buttons">

    <!-- Prev -->
    <a
      href="/video/<%= prevVideo %>"
      class="full-width btn btn-default"
      <%= !prevVideo ? 'disabled' : '' %>
    >Prev</a>

    <!-- Next -->
    <a
      href="/video/<%= nextVideo %>"
      class="full-width btn btn-default"
      <%= !nextVideo ? 'disabled' : '' %>
    >Next</a>

  </div>

</aside>
