.video-controls {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-controls > * {
  margin: 1rem 0;
}

.playback-rate {
  text-align: center;
}

.inline-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.inline-buttons button {
  width: 100%;
  margin: 0 0.25rem;
  padding: 0.66rem 1.2rem;
}
.inline-buttons button:first-of-type,
.inline-buttons a:first-of-type {
  margin-left: 0;
}
.inline-buttons button:last-of-type,
.inline-buttons a:last-of-type {
  margin-right: 0;
}
